# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
build/
Dist/

# Virtual environments
venv/
.env/
.venv/
.env
# Node / npm
node_modules/
package-lock.json
yarn.lock

# Vite / React
.dist/
.vite/

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
